body {
    background-color: #000000;
}

canvas {
    display: block;
    background-color: #000000;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}